* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --cor-primaria: #7b1b38;
}

#header {
  background-color: var(--cor-primaria);
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carinho {
  display: flex;
  align-items: center;
}

.carinho h1 {
  color: white;
  font-size: 12px;
  margin-right: 3px;
}

.carinho img {
  width: 20px;
  height: auto;
}

#menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
}

.leftMenu,
.rightMenu {
  display: flex;
  gap: 10px;
}

.centerLogo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  padding-top: 20px;
}

#menu a {
  color: var(--cor-primaria);
  font-size: 20px;
}

#menu img {
  width: 75px;
  height: auto;
  margin: 10px 10px;
}
